# Node
node_modules
npm-debug.log*

# Local env
.env
src_ref
ref
CLAUDE.md
oc_main
todos.md
data/
data.zip
bkp_5_9/

# Build artifacts
/dist

# Backup exports
*.tar.gz

# OS
.DS_Store

.claude/
.serena/
.tmpdata/